@model IEnumerable<dt191g_projekt.Models.PortfolioModel>

@{
    ViewData["Title"] = "Portfölj";
}

<h1>Projekt</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GithubLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Competence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GithubLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            @await Html.PartialAsync("_CrudPartial", item) 
        </tr>
}
    </tbody>
</table>
